{% extends "layout.html" %}
{% block content %}
<header class="container">
  <h1 class="page-title">Czyszczenie kostki brukowej</h1>
  <div class="page-description">
    <div class="text-md-right top-btn px-3">
      <span class="btn-wrapper">
        <button onclick="location.href='{{ url_for('uslugi_dom')}}'" class="btn btn-outline-info px-5" type="button">
          Usługi dla Domu
        </button>
      </span>
    </div>
    <p class="lead">Betonowa kostka brukowa jest najczęściej używanym materiałem budulcowym podczas realizacji inwestycji otoczenia budynków. Parkingi, podjazdy, chodniki, deptaki, trotuary, ale również obejście naszego domu, ogrodu i firmy, bardzo często wykonane jest z betonowej kostki brukowej, granitowej kostki brukowej lub płyt betonowych.
    Z uwagi na przeznaczenie tych powierzchni, regularnie dochodzi do powstawania zabrudzeń. Zabrudzenia te są tym bardziej kłopotliwe, że beton, nawet ten o podwyższonych parametrach, stanowi materiał o wysokiej porowatości, a tym samym chłonności. Dlatego też usuwaniem zabrudzeń typu ślady opon, plamy olejowe, zaplamienia żywiczne, wykwity mineralne czy zazielenienia, powinien zająć się specjalista.<br>
    Usługi czyszczenia kostki brukowej wykonujemy najczęściej dla firm logistycznych, kurierskich, sieci handlowych, zarządców mieszkaniowych, hoteli, spółdzielni mieszkaniowych, dla właścicieli posesji prywatnych. Pozostawiamy czyszczone obiekty jako wizytówki dla Zlecających.</p>
  </div>
</header>
<main>
  <div class="container img-container">
    <div class="row">
      <div class="col-md-6 pb-3">
        <img class="img-fluid" src="../../static/img/uslugi/dom/czyszczenie_kostki_brukowej_2.jpg" alt="Mycie kostki brukowej" />
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../static/img/uslugi/firma/czyszczenie_kostki_brukowej_10.jpg" alt="Impregnacja kostki brukowej" />
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title text-md-right">Co czyścimy?</h2>
    <div class="page-description">
      <p class="lead">Parkingi, podjazdy, chodniki, deptaki, trotuary, ale również obejście naszego domu, ogrodu i firmy, bardzo często wykonane jest z betonowej kostki brukowej, granitowej kostki brukowej lub płyt betonowych. Niezależnie od pełnionej funkcji, pochodzenia zabrudzeń oraz rodzaju materiału i wykończenia okładzin, dostarczamy kompleksowych usług w zakresie usuwania zabrudzeń i konserwacji powierzchni.</p>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row-reverse">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Nie należy samodzielnie stosować agresywnych preparatów na powierzchni. Wszelkie zabrudzenia, nieczystości, płyny należy usuwać bez zbędnej zwłoki. Nawet nie posiadając odpowiedniego sorbentu, powinno się jak najszybciej usunąć rozlany olej silnikowy, płyn hamulcowy etc. np. stosując trociny lub chłonny materiał. Jeśli kostka została wcześniej zabezpieczona impregnatem hydrofobowym lub specjalnym chroniącym przed olejami, nie powinno stanowić to problemu. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container img-container">
    <div class="row">
      <div class="col-md-6 pb-3">
        <img class="img-fluid" src="../../static/img/uslugi/dom/czyszczenie_kostki_brukowej_7.jpg" alt="Kostka brukowa przed umyciem" />
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../static/img/uslugi/dom/czyszczenie_kostki_brukowej_8.jpg" alt="Kostka brukowa po czyszczeniu" />
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title">Jak czyścimy?</h2>
    <div class="page-description">
      <p class="lead">Prace zaczynamy od wykonania zabezpieczeń BHP i przyległych powierzchni, ze szczególnym uwzględnieniem bezpieczeństwa otaczającej nas roślinności. Kolejnym etapem jest usunięcie nagromadzonego materiału luźnego. Na sektor powierzchni zostaje podany wcześniej zdefiniowany preparat zadaniowy, dobrany na podstawie rodzaju zabrudzeń oraz efektywności działania. Kolejna faza to chemiczne rozpuszczanie zabrudzeń wspomagane działaniem mechanicznym. Następnie przystępujemy do usuwania zabrudzeń przy pomocy urządzeń wysokociśnieniowych, gorąco-wodnych w procesie czyszczenia hydrodynamicznego. Do tego zadania wykorzystujemy osprzęt niwelujący efekt rozbryzgu zanieczyszczeń oraz zapewniający odprowadzenie rozpuszczonych/wypłukanych zabrudzeń do bezpiecznego zrzutu. Głowice czyszczące, głowice czyszczące z odprowadzeniem, odkurzacze przemysłowe oraz szorowarki stanowią sedno efektywnego, bezpiecznego działania.
      Po zakończeniu procesu czyszczenia hydrodynamicznego, jeśli sytuacja tego wymaga, fuga kostki brukowej uzupełniana jest piaskiem płukanym przesianym.
      Następnie na wyczyszczoną powierzchnie dozowany zostaje środek konserwujący. W zależności od rodzaju zabrudzeń oraz życzeń Klienta, stosujemy preparaty biobójcze (ograniczające porost mikroorganizmów) lub/i impregnaty ograniczające chłonność powierzchni przy jednoczesnym podniesieniu estetyki. Impregnaty hydrofobowe, oleofobowe lub koloryzujące w połączeniu z procesem nasączania powierzchni środkami biobójczymi, gwarantują dobre zabezpieczenie powierzchni na długie lata. Konserwacja impregnatami ma nie tylko podnieść estetykę powierzchni ale przede wszystkim wzmocnić/naprawić lico kostki brukowej. Tak wyczyszczona i zakonserwowana powierzchnia jest odporniejsza na zabrudzenia i dobrze przygotowana na codzienne obciążenia.
      W przypadkach kiedy stopień zaawansowania korozji powierzchni jest bardzo zaawansowany, a doprowadzenie jej do stanu właściwego wygląda na niemożliwe, wdrażamy malowanie. Na wcześniej wyczyszczoną i odtłuszczoną powierzchnie nakładana jest natryskowo farba lub impregnat barwiący do kostki brukowej. Preparaty silnie wiążąc się z podłożem zapewniają doskonałą hydrofobowość powierzchni, odporność na ścieranie oraz blaknięcie. Zawarte w farbie związki przeciwdziałają porastaniu powierzchni przez glony, porosty, mikroorganizmy. Jest to świetna alternatywa dla wymiany zainstalowanej kostki.
      </p>
    </div>
  </section>

  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-6 pb-3">
        <div class="auto-resizable-iframe">
          <div>
            <iframe allowfullscreen="" src="https://www.youtube-nocookie.com/embed/BFJW7lN02To?hl=pl&rel=0&modestbranding=1"></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
         <div class="auto-resizable-iframe">
          <div>
            <iframe allowfullscreen="" src="https://www.youtube-nocookie.com/embed/_WyzqOiW-Ig?hl=pl&rel=0&modestbranding=1"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title text-md-right">Park maszyn i urządzeń</h2>
    <div class="page-description">
      <ul class="lead">
        <li>wysokowydajne gorącowodne urządzenie hydrodynamiczne,</li>
        <li>akcesoria ochrony indywidualnej, w tym dróg oddechowych,</li>
        <li>opryskiwacze akumulatorowe niskociśnieniowe,</li>
        <li>szorowarka dyskowa oraz walcowa, odkurzacz przemysłowy,</li>
        <li>oczyszczacze powierzchni płaskich FR i FRV,</li>
        <li>agregat malarski.</li>
      </ul>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row-reverse">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Zadbaj o właściwe odprowadzenie wody deszczowej z powierzchni kostki brukowej. Nie pozostawiaj na długi czas na powierzchni kostki przedmiotów mogących pozostawić trwałe ślady z rdzy, są one trudne do usunięcia. Nie próbuj usuwać mechanicznie nalotów mineralnych, głównie wapiennych – powinny być usuwane odpowiednio dobranymi preparatami o niskim pH. Działania mechaniczne mogą jedynie zaszkodzić.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title">Czego potrzebujemy?</h2>
    <div class="page-description">
      <p class="lead">Ze strony Klienta oczekujemy:</p>
      <ul class="lead">
        <li>współpracy w zakresie określenia jego potrzeb i wymagań,</li>
        <li>wyznaczenia pracownika, koordynatora, wprowadzającego na obiekt,</li>
        <li>umożliwienia wykonania pomiarów i prób na obiekcie,</li>
        <li>usunięcia przedmiotów wrażliwych ze strefy wykonywania zadania,</li>
        <li>usunięcia przedmiotów utrudniających dostęp do powierzchni czyszczonej lub zlecenie takich prac,</li>
        <li>umożliwienia parkowania na czas prac w obrębie budynku,</li>
        <li>dostępu do zasilania wodą bieżącą (kran techniczny),</li>
        <li>dostępu do zasilania prądem (230V),</li>
        <li>wskazania i zabezpieczenia miejsca lub zbiornika zrzutu zanieczyszczeń ciekłych i stałych.</li>
      </ul>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Odrębnym zagadnieniem jest usuwanie mikroorganizmów ze struktury betonu. Mchy, porosty, algi potrzebują wilgoci dla swojego rozwoju. Najczęściej widać więc charakterystyczne zazielenienia kostki w miejscach mało nasłonecznionych, wilgotnych, które sprzyjają ich rozwojowi. Algi nie tylko pogarszają estetykę naszej kostki brukowej – poprzez rozrost, powodują także mikrouszkodzenia struktury. W efekcie w krótkim czasie tak twardy przecież materiał jak beton, może ulec degradacji. Aby się przed tym uchronić należy usunąć mikroorganizmy, w całości zniszczyć je chemicznie, po czym nanieść preparaty uniemożliwiające ich ponowny rozwój.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title text-md-right">Czas oczekiwania na realizację</h2>
    <div class="page-description">
      <p class="lead">Zlecenia staramy się wykonywać bezzwłocznie. Z uwagi na charakter usługi, niezbędne są odpowiednie warunki pogodowe.
      Usługa czyszczenia, konserwacji bruku, realizowana jest w czasie od 3 do 8 dni od momentu zaakceptowania warunków przez Klienta.</p>
    </div>
  </section>

  <div class="container mb-4">
    <div class="auto-resizable-iframe">
      <div>
        <iframe allowfullscreen="" src="https://www.youtube-nocookie.com/embed/3Y6G1svvvwU?hl=pl&rel=0&modestbranding=1"></iframe>
      </div>
    </div>
  </div>

  <section class="container pb-3">
    <h2 class="section-title">Czas trwania prac</h2>
    <div class="page-description">
      <p class="lead">O czasie niezbędnym do wykonania usługi decyduje wiele czynników. Rodzaj i wielkość powierzchni, skala i rodzaj zabrudzeń to główne z nich.
      W przygotowanej ofercie znajdą Państwo informacje nie tylko o technice i technologii postępowania, ale również o przewidywanym czasie zamknięcia realizacji.</p>
    </div>
  </section>

  <div class="container pb-5 text-right">
    <hr>
    <div class="row">
      <div class="col-md-6 pt-4 text-md-left">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('galeria_kostka_brukowa') }}'" class="btn btn-outline-info  nav-btn" type="button">
            Zobacz galerię
          </button>
        </span>
      </div>
      <div class="col-md-6 pt-4 text-md-right">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('uslugi_firma')}}'" class="btn btn-outline-info  nav-btn" type="button">
            Powrót do Usług dla Firm
          </button>
        </span>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
