{% extends "layout.html" %}
{% block content %}
<header class="container">
  <h1 class="page-title">Czyszczenie tapicerki skórzanej</h1>
  <div class="page-description">
    <div class="text-md-right top-btn px-3">
      <span class="btn-wrapper">
        <button onclick="location.href='{{ url_for('uslugi_dom')}}'" class="btn btn-outline-info px-5" type="button">
          Usługi dla Domu
        </button>
      </span>
    </div>
    <p class="lead">Meble tapicerowane, obok wykończenia z materiałów tekstylnych, występują z pokryciem skórą naturalną. Dla entuzjastów wyroby ze skóry naturalnej posiadają szereg walorów. Należy do nich przede wszystkim efektowność mebli pokrytych skórą, produkty podkreślają ekskluzywność pomieszczenia. Do dodatkowych atutów rozwiązania możemy zaliczyć trwałość wyrobów, ich odporność na codzienne użytkowanie. Warunkiem jest nabycie mebla wykonanego starannie, wykończonego skórą właściwie przygotowaną, starannie uszytą, zgodnie z prawidłami sztuki, gdyż jest to materia wymagająca dużego doświadczenia i wiedzy. Kolejną zaletą takiego rozwiązania jest łatwość utrzymania czystości, szczególnie produktów ze skóry lakierowanej. Z biegiem lat jednak na powierzchni skóry gromadzi się brud, z którego usunięciem Klienci mają kłopot. Zastosowanie odpowiednio dobranych preparatów czyszczących oraz zabezpieczających powierzchnię jest sednem właściwej pielęgnacji mebli skórzanych.</p>
  </div>
</header>
<main>
  <section class="container">
    <h2 class="section-title text-md-right">Co czyścimy?</h2>
    <div class="page-description">
      <p class="lead">Wykonujemy usługi okresowej pielęgnacji mebli skórzanych wszelkiego typu z realizacją pod wskazanym przez Klienta adresem.
      </p>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row-reverse">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Przystępując do zachowawczego czyszczenia mebli skórzanych, pamiętaj aby najpierw przetestować preparat czyszczący, pielęgnacyjny, najlepiej w niewidocznym miejscu. Zastosowanie źle dobranego środka może trwale uszkodzić poszycie mebla (np. odbarwić lakier), co w konsekwencji może Cię sporo kosztować.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title">Jak czyścimy?</h2>
    <div class="page-description">
      <p class="lead">Po starannym odkurzeniu powierzchni mebla i wykonaniu prób w doborze preparatów, kolejne strefy powierzchni pokrywane są środkiem zadaniowym i delikatnie szczotkowane w celu rozpuszczenia nagromadzonych zabrudzeń. Po zakończeniu usuwania brudu, ze szczególnym uwzględnieniem miejsc przeszyć i stref najbardziej obciążonych, całość powierzchni jest dokładnie neutralizowana. Na suchą i czystą powierzchnię nanosimy dwuetapowo, pielęgnacyjny środek ochronny, stanowiący zaporę dla brudu oraz obciążeń mechanicznych. Dzięki tak przeprowadzonym działaniom mebel odzyskuje właściwą estetykę, skóra wraz z przeszyciami zostaje uelastyczniona i przygotowana do dalszego bezproblemowego użytkowania.
      </p>
    </div>
  </section>

  <section class="container">
    <h2 class="section-title text-md-right">Park maszyn i urządzeń</h2>
    <div class="page-description">
      <ul class="lead">
        <li>odkurzacz,</li>
        <li>praca ręczna.</li>
      </ul>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row-reverse">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Dbaj o regularne odkurzanie mebla, szczególnie w strefie siedzisk, oraz utrzymanie w dobrej kondycji powłok ochronnych na powierzchniach najbardziej obciążonych mechanicznie i narażonych na zaplamienia.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title">Czego potrzebujemy?</h2>
    <div class="page-description">
      <p class="lead">Ze strony Klienta oczekujemy:</p>
      <ul class="lead">
        <li>współpracy w zakresie określenia jego potrzeb i wymagań,</li>
        <li>wyznaczenia pracownika, koordynatora, wprowadzającego na obiekt,</li>
        <li>umożliwienia wykonania prób,</li>
        <li>usunięcia przedmiotów utrudniających dostęp do powierzchni czyszczonej lub zlecenie takich prac,</li>
        <li>czasowego wyłączenia z użytkowania mebli,</li>
        <li>zapewnienia optymalnych warunków w okresie schnięcia powierzchni tj. temperatury, cyrkulacji powietrza,</li>
        <li>umożliwienia parkowania na czas prac w obrębie budynku,</li>
        <li>dostępu do zasilania wodą,</li>
        <li>dostępu do zasilania prądem (230V),</li>
        <li>dostępu do odpływu kanalizacyjnego w celu zrzutu zebranych zanieczyszczeń.</li>
      </ul>
    </div>
  </section>

  <section class="container">
    <h2 class="section-title text-md-right">Czas oczekiwania na realizację</h2>
    <div class="page-description">
      <p class="lead">Zlecenia staramy się wykonywać bezzwłocznie.
      Usługa czyszczenia, pielęgnacji mebli skórzanych, realizowana jest w czasie od 2 do 3 dni od momentu zaakceptowania warunków przez Klienta.</p>
    </div>
  </section>

  <section class="container pb-3">
    <h2 class="section-title">Czas trwania prac</h2>
    <div class="page-description">
      <p class="lead">O czasie niezbędnym do wykonania usługi decyduje wiele czynników. Rodzaj i wielkość powierzchni, skala i rodzaj zabrudzeń, to główne z nich.
      W przygotowanej ofercie znajdą Państwo informacje nie tylko o technice i technologii postępowania, ale również o przewidywanym czasie zamknięcia realizacji.
      </p>
    </div>
  </section>

  <div class="container pb-5 text-right">
    <hr>
    <div class="row">
      <div class="col-md-6 pt-4 text-md-left">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('galeria') }}'" class="btn btn-outline-info  nav-btn" type="button">
            Zobacz galerię
          </button>
        </span>
      </div>
      <div class="col-md-6 pt-4 text-md-right">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('uslugi_firma')}}'" class="btn btn-outline-info  nav-btn" type="button">
            Powrót do Usług dla Firm
          </button>
        </span>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
