{% extends "layout.html" %}
{% block content %}
<header class="container">
  <h1 class="page-title">Mycie powierzchni szklanych</h1>
  <div class="page-description">
    <div class="text-md-right top-btn px-3">
      <span class="btn-wrapper">
        <button onclick="location.href='{{ url_for('uslugi_firma')}}'" class="btn btn-outline-info px-5" type="button">
          Usługi dla Firm
        </button>
      </span>
    </div>
    <p class="lead">Fasady budynków mieszkalnych, również tych niewielkich, wykańcza się również konstrukcjami szklanymi. Z roku na rok, coraz popularniejsze stają się ogrody zimowe oraz inne rozwiązania z zastosowaniem technologii szkło, aluminium. Fotowoltaika jak i kolektory słoneczne są już codziennością. Jak w każdym przypadku powierzchnie te wymagają okresowego mycia, gdyż pozostawione same sobie z pewnością nie będą „cieszyły oka”, a tym bardziej spełniały wymagań efektywności procesów pochłaniania i akumulacji energii słonecznej.</p>
  </div>
</header>
<main>
  <div class="container img-container">
    <div class="row">
      <div class="col-md-6 pb-3">
        <img class="img-fluid" src="../../static/img/uslugi/dom/czyszczenie_elewacji_domu_1.jpg" alt="Mycie szyb" />
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../static/img/uslugi/dom/mycie_elewacji_z7.jpg" alt="Czyszczenie elewacji szklanej" />
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title text-md-right">Co czyścimy?</h2>
    <div class="page-description">
      <p class="lead">Wszelkie powierzchnie szklane, których utrzymanie w czystości przysparza Klientowi problemów, wchodzą w zakres wykorzystania naszych usług.
      </p>
    </div>
  </section>

  <section class="container">
    <h2 class="section-title">Jak czyścimy?</h2>
    <div class="page-description">
      <p class="lead">O technice i technologii postępowania decydują kryteria ekonomiki i efektywności. Do wykonywania zadań wykorzystujemy tradycyjne metody, jak również sprzęt specjalistyczny w postaci urządzeń teleskopowych, myjących wodą osmotyczną, demineralizowaną. Niezależnie od techniki, działania nakierowane są na rozpuszczenie zabrudzeń oraz bezpieczne usunięcie ich w sposób gwarantujący czystą, błyszczącą powierzchnię szkła. Zastosowanie odpowiednich preparatów oraz wody osmotycznej, daje pewność znacznego wydłużenia okresów pomiędzy czyszczeniami.
      </p>
    </div>
  </section>

  <section class="container">
    <h2 class="section-title text-md-right">Park maszyn i urządzeń</h2>
    <div class="page-description">
      <ul class="lead">
        <li>podnośnik teleskopowo przegubowy typu lekkiego do 3,5t,</li>
        <li>wysokowydajne, gorącowodne urządzenie hydrodynamiczne,,</li>
        <li>akcesoria ochrony indywidualnej w tym, dla alpinistów przemysłowych,</li>
        <li>niskociśnieniowe opryskiwacze akumulatorowe, urządzenia teleskopowe,</li>
        <li>drabiny.</li>
      </ul>
    </div>
  </section>

  <div class="container nasza-rada">
    <div class="d-flex flex-row-reverse">
      <div class="col-lg-9">
        <div class="alert alert-info">
          <div class="h3 alert-heading">Nasza rada</div>
          <hr>
          <p>Często szkło pozostawione przez długi czas samo sobie, bez zabiegów pielęgnacyjnych, ulega trwałemu przywarciu minerałów. Ma to również miejsce wtedy, gdy w szczególności, zabrudzona woda z odprowadzeń trafia na taflę szkła regularnie. Szkło staje się nieprzejrzyste, matowe, a proces doczyszczania wymaga zastosowania agresywnych środków do rozpuszczania minerałów.</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="section-title">Czego potrzebujemy?</h2>
    <div class="page-description">
      <p class="lead">Ze strony Klienta oczekujemy:</p>
      <ul class="lead">
        <li>współpracy w zakresie określenia jego potrzeb i wymagań,</li>
        <li>umożliwienia wykonania pomiarów i prób na obiekcie,</li>
        <li>usunięcia przedmiotów wrażliwych ze strefy wykonywania zadania,</li>
        <li>umożliwienia parkowania na czas prac w obrębie budynku,</li>
        <li>dostępu do zasilania wodą bieżącą (kran techniczny),</li>
        <li>umożliwienia parkowania na czas prac w obrębie budynku,</li>
        <li>dostępu do zasilania prądem (230V),</li>
        <li>jeśli to możliwe i niezbędne, umożliwienia wjazdu na posesję podnośnika typu lekkiego,</li>
        <li>mile widziane zaufanie i cierpliwość Zlecającego.</li>
      </ul>
    </div>
  </section>

  <section class="container">
    <h2 class="section-title text-md-right">Czas oczekiwania na realizację</h2>
    <div class="page-description">
      <p class="lead">Zlecenia staramy się wykonywać bezzwłocznie. Z uwagi na charakter usługi, niezbędne są odpowiednie warunki pogodowe.
      Usługa mycia np. ogrodu zimowego, realizowana jest w czasie od 3 do 5 dni od momentu zaakceptowania warunków przez Klienta.</p>
    </div>
  </section>

  <section class="container pb-3">
    <h2 class="section-title">Czas trwania prac</h2>
    <div class="page-description">
      <p class="lead">O czasie niezbędnym do wykonania usługi decyduje wiele czynników: rodzaj i wielkość powierzchni, dostępność z podłoża, skala i rodzaj zabrudzeń to główne z nich. Realizacja zadania mycia przeszkleń domu jednorodzinnego, najczęściej zamyka się w ciągu jednego dnia roboczego, 4 – 6 godzin pracy.</p>
    </div>
  </section>

  <div class="container pb-5 text-right">
    <hr>
    <div class="row">
      <div class="col-md-6 pt-4 text-md-left">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('galeria_powierzchnie_szklane') }}'" class="btn btn-outline-info  nav-btn" type="button">
            Zobacz galerię
          </button>
        </span>
      </div>
      <div class="col-md-6 pt-4 text-md-right">
        <span class="btn-wrapper px-2 mb-3">
          <button onclick="location.href='{{ url_for('uslugi_dom')}}'" class="btn btn-outline-info  nav-btn" type="button">
            Powrót do Usług dla Domu
          </button>
        </span>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
