{% extends "layout.html" %}
{% block content %}
<header>
  <section class="container pb-3">
    <h1 class="page-title">Polityka plików cookies</h1>
    <div class="page-description">
      <p>Poniższa Polityka plików cookies określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>
      <br>

      <h2 class="h6" style="text-align:center">§ 1 Definicje</h2>
      <ul>
        <li><p><b>Serwis</b> - serwis internetowy działający pod adresem www.czyszczenie.bydgoszcz.pl</p></li>
        <li><p><b>Serwis zewnętrzny</b> - serwis internetowe partnerów, usługodawców lub usługobiorców Administratora</p></li>
        <li><p><b>Administrator</b> - firma Profesjonalne Czyszczenie "Kwazar", prowadząca działalność pod adresem: ul. Chałubińskiego 1/16, 85-794 Bydgoszcz, o nadanym numerze identyfikacji podatkowej (NIP): 8421490603, o nadanym numerze REGON: 340826030, świadcząca usługi drogą elektroniczną za pośrednictwem Serwisu oraz przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika</p></li>
        <li><p><b>Użytkownik</b> - osoba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu</p></li>
        <li><p><b>Urządzenie</b> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu</p></li>
        <li><p><b>Cookies (ciasteczka)</b> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</p></li>
      </ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 2 Rodzaje Cookies</h2>
      <ul>
        <li><p><b>Cookies wewnętrzne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</p></li>
        <li><p><b>Cookies zewnętrzne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</p></li>
        <li><p><b>Cookies sesyjne</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis lub Serwisy zewnętrzne podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.</p></li>
        <li><p><b>Cookies trwałe</b> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis lub Serwisy zewnętrzne do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików cookies po zakończeniu sesji Urządzenia.</p></li>
      </ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 3 Bezpieczeństwo</h2>
      <ul>
        <li><p><b>Mechanizmy składowania i odczytu</b> - Mechanizmy składowania i odczytu cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktycznie niemożliwe.</p></li>
        <li><p><b>Cookie wewnętrzne</b> - zastosowane przez Administratora cookies wewnętrzne są bezpieczne dla Urządzeń Użytkowników</p></li>
        <li><p><b>Cookie zewnętrzne</b> - za bezpieczeństwo plików cookies pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki plików cookies.</p></li>
      </ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 4 Cele do których wykorzystywane są pliki cookies</h2>
      <ul><li><p><b>Dane statystyczne</b> - Administrator oraz Serwisy zewnętrzne wykorzystuje pliki cookies do zbirania i przetwarzania danych statystycznych takich jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.</p></li><li><p><b>Serwowanie usług multimedialnych</b> - Administrator oraz Serwisy zewnętrzne wykorzystuje pliki cookies do serwowania Użytkownikom usług multimedialnych.</p></li><li><p><b>Usługi społecznościowe</b> - Administrator oraz Serwisy zewnętrzne wykorzystują pliki cookies do wsparcia usług społecznościowych</p></li></ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 5 Serwisy zewnętrzne</h2>
      <p>Administrator współpracuje z następującymi serwisami zewnętrznymi, które mogą zamieszczać pliki cookies na Urządzeniach Użytkownika:</p>
      <ul><li><p><b>Google Analytics</b></p></li><li><p><b>Facebook</b></p></li><li><p><b>Youtube</b></p></li></ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 6 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis i Serwisy zewnętrzne</h2>
      <ul>
        <li><p>Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików cookies</p></li>
        <li><p>Informacje o sposobie wyłączenia plików Cookie w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: <a href="http://jakwylaczyccookie.pl" rel="nofollow noopener noreferrer" target="_blank" style="color: white">jak wyłączyć cookie (link)</a>.</p></li>
        <li><p>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki cookies korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkowanik korzysta z usług Serwisu.</p></li>
      </ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 7 Wymagania Serwisu</h2>
      <ul>
        <li><p>Ograniczenie zapisu i dostępu do plików cookies na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</p></li>
        <li><p>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików cookies.</p></li>
      </ul>
      <br>

      <h2 class="h6" style="text-align:center">§ 8 Zmiany w Polityce plików cookies</h2>
      <ul>
        <li><p>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki plików cookies bez konieczności informowania o tym użytkowników.</p></li>
        <li><p>Wprowadzone zmiany w Polityce plików cookies zawsze będą publikowane na tej stronie.</p></li>
        <li><p>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki plików cookies.</p></li>
      </ul>
    </div>
  </section>
</header>
{% endblock content %}
